{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
	<header role="banner">{% include header.html %}</header>
	<nav role="navigation">{% include navigation.html %}</nav>
	<div id="main">
		<div id="content">
			{{ content | expand_urls: root_url }}
		</div>
	</div>
	<footer role="contentinfo">{% include footer.html %}</footer>
	{% include after_footer.html %}
	<!--返回顶部开始-->
	<div id="full" style="width:100px; height:100px; position:fixed; left:50%; top:600px; margin-left:493px; z-index:100; text-align:center; background-color:transparent; cursor:pointer;">
		<a><img src="images/top.png" border=0 alt="返回顶部"></a>
	</div>
	<script src="javascripts/gotop.js" type="text/javascript"></script>
	<!--返回顶部结束-->
	
	<!--	<script>
		lastScrollY=0;
		function heartBeat(){
			var diffY;
			if (document.documentElement && document.documentElement.scrollTop)
			diffY = document.documentElement.scrollTop;
			else if (document.body)
			diffY = document.body.scrollTop
			else
			{/*Netscape stuff*/}
			percent=.1*(diffY-lastScrollY);
			if(percent>0)percent=Math.ceil(percent);
			else percent=Math.floor(percent);
			document.getElementById("full").style.top=parseInt(document.getElementById("full").style.top)+percent+"px";
			lastScrollY=lastScrollY+percent;
		}
		suspendcode="<div id=\"full\" style='right:1px;POSITION:absolute;TOP:500px;z-index:100;cursor:pointer;'><a onclick='window.scrollTo(0,0);'>To top</a><br></div>"
		document.write(suspendcode);
		window.setInterval("heartBeat()",1);
	</script> -->
	
	<!-- <a href="#" onclick="goTop();return false;">TOP</a> -->
</body>
</html>
