<h1>Blogroll</h1>
<ul type="disc">
	<li>
	<a href="http://blog.jobbole.com/">伯乐在线</a>
	</li>
	<li>
	<a href="http://www.csdn.net/">CSDN</a>
	</li>
	<li>
	<a href="http://www.cnblogs.com/">博客园</a>
	</li>
	<li>
	<a href="http://coolshell.cn/">酷壳CoolShell——陈皓</a>
	</li>
	<li>
	<a href="http://www.ruanyifeng.com/blog/">阮一峰的网络日志</a>
	</li>
	<li>
	<a href="http://www.yangzhiping.com/">阳志平的个人网站</a>
	</li>
	<li>
	<a href="http://macshuo.com/">MacTalk-池建强的随想录</a>
	</li>
	<li>
	<a href="http://www.cnblogs.com/Solstice/">陈硕</a>
	</li>
</ul>
